@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background:#f7f7f7;
    height: 100%;
    width: 100%;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.form-container{
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color:rgb(248, 219, 219);
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   color: rgb(247, 56, 56);
   border-radius: 2em;
   
}
.form{
  width: 100%;
  height: 100%;
}
#form{
    width: 100%;
    height: 100%;
    display: block;
    padding: 2.5rem;
    padding-top: 1rem;
    font-size: 1.5rem;
   
}
input[type=text], input[type=number] {
    width: 100%;
    border-radius: .6em;
    line-height: 2rem;
    border: 1px solid #666;
    font-size: 1.2rem;
}
h1{
    color: #666;
    font-size: 2rem;
    font-weight: bolder;
}
label{
    font-size: 1.2rem;
    font-weight: 1000;
}
.form-action-buttons{
    width: 100%;
}
input[type=submit]{
    width: 80%;
    height: 3rem;
    margin: 1.5rem;
    margin-left: 10%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    border:2px solid rgb(247, 56, 56);
    color: rgb(247, 56, 56);
    border-radius: 10em;
    transition: all .5s ease-in;
}
input[type=submit]:hover{
    background-color:  rgb(247, 56, 56);
    color: #fff;
}
.hide{
    display: none;
}
.validation-error{
    color: black;
    font-size: 1rem;
    font: bold;
    font-weight: 1000;
} 

.products-data{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.5em;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

}
.list{
    width: 100%;
}
th{
    font-size: 1.5rem;
    color: rgb(247, 56, 56);
    background-color: rgb(248, 219, 219);
}
tbody > tr{
    text-align: center;
    font-size: 1.2rem;
    border-radius:1.5em ;
}
tbody > tr:nth-child(even),table.list {
    background-color:rgb(248, 219, 219);
    color: #666;
}
tbody > tr:nth-child(odd),table.list {
    background-color:#fff ;
    color: black ;
}
a{
    font-size: 1.2rem;
     padding: 15px;
     color: lightseagreen;
 }
 a:hover{
     cursor: pointer;
     text-decoration: underline;
     color: red;
 }

 @media(max-width:900px){
    .form-container{
        width:80%;
        height: 100%;
    }
    label{
        font-size: .9rem;
        font-weight: 1000;
    }
    .validation-error{
        font-size: .9rem;
    } 
    h1{
        font-size: 1.5rem;
    }
    th{
        font-size: 1rem;
    }
    tbody > tr{
        font-size: .9rem;
    }
    a{
        font-size: .9rem;
    }
 }
 @media(max-width:450px){
    .form-container{
        width: 100%;
    }
    #form{
        padding: .5em;;
    }
 }

